.order-confirmation-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.order-confirmation-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.order-confirmation-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.order-confirmation-container ul {
    list-style: none;
    padding: 0;
}

.order-confirmation-container li {
    margin-bottom: 5px;
    font-size: 16px;
}

.order-confirmation-container strong {
    font-weight: bold;
}